*{
 margin: 0;
 padding: 0;
 box-sizing: border-box; 
 
}
.links ul{
    display: flex;
    flex-direction: row;
    float: right;
    justify-content: space-between;
     gap: 5px;
}
ul a{
    text-decoration: none;
}
ul a:hover{
    background-color: #ccc;
}

nav ul li{
    list-style-type: none;
    display: inline-block;
}

.contact a{
    text-decoration: none;
}

 body{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content:center;
    align-items:center;
    background-color:#fafafa;
   
    
  }
  .container{
    width: 100%;
    padding: 35px 10%;
    display: flex;
    background-color: wheat;
  }
  main.row{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
    margin-top: 50px;
  }
  .col header.title{
    font-family: helvetica;
    color: #a31172;
    padding: 0px 0px 20px 30px;
    border-left: 2px solid #312525;
    border-left: 2px solid #bababa;
    font-size: small;
  }
 .col .Contents{
    padding: 0px 30px;
    border-left: 2px solid #312525;
    border-left: 2px solid #bababa;
    

    
  }
  .col .Contents .box{
    position: relative;
    padding: 2px;
    border: 1px solid #eaeaae;
    /* background-color: #ffffff; */
    cursor: pointer;
    transition: all 0.4s;
    margin-bottom: 2px
 }
 .col .Contents .box:hover{
    box-shadow: 0px 3px 12px 0px #ccc;
    border: 1px solid transparent;
 }
 .col .Contents .box::before{
    content: none;
    position:static;
    width: 16px;
    height: 16px;
    border-radius: 25px;
    right: calc(100%+22px);
    top:0;
    background-color: #11a372;
    border: 2px solid white;
 }
 .col .Contents .box.profile{
    width: 100%;
    padding: 150px 0;
    background-color:#83a311;
 }
 .box h2{
    position: relative;
    color: #11a372;
 }
 .box p{
    line-height: 1.2;
    font-size: 17px;
 }
 @media(max-width:780px){
    main.row{
        grid-template-columns: 1fr;
    }
    .row.col:nth-child(2){
        margin-top: 30px;
    }
 }
 
 

.row{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
}
.col header.title{
    padding: 0px 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: #a31197; 
     padding: 0px 0px 20px 30px; 
 }



 img{
    width: 150px;
    height: 150px;
    border: 1px;
    border-radius: 50%;
}


li{
    list-style: none;
    margin: 5px 0;
    padding: 2px;

} 
.bar{
    background-color: #353b48;
    display: block;
    height: 20px;
    border: 1px solid(0,0,0,0,0.col-3);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}
.bar:hover{
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),0 10px 10px rgba(0, 0, 0, 0.22)  ;

}
.bar span{
height: 20px;
float: left;
background: linear-gradient(135deg,rgba(236,0,140,1)0%, rgba(252,103,103,1.0)100%)
}
.html{
    width: 80%;
    animation:html 3s;
}
.css{
    width: 80%;
    animation:css 3s;
}
.javascript{
    width: 50%;
    animation:javascript 3s;
}
@keyframes html{
    0%{
        width: 0%;
    }
    100%{
        width: 90%;
    }
}
@keyframes css{
    0%{
        width: 0%;
    }
    100%{
        width: 80%;
    }
}
@keyframes javascript{
    0%{
        width: 0%;
    }
    100%{
        width: 50%;
    }
}
.phone{
    font-size: small;
    color: rgb(76, 0, 255);
}
.mail{
    font-size: medium;
    color:rgb(143, 116, 29)
}
.gitlab{
    color: rgba(255, 0, 0, 0.822);

}